# General
.DS_Store
hs_err_*

# Java/Eclipse/IDEA
.settings
.classpath
.project
.factorypath
.gradle
.idea
.metals
*.iml
bin
build
target
.kotlin
out

# VSCode
.vscode-test
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
*.vsix

# KLS
kls_database.db

